In [1]:
import os
import pandas as pd

In [2]:
!ls

Comext Open Data.ipynb data
Readme.md              our_data

In [4]:
%%time
main_dir = 'our_data/'
list_path_data = ['transportation_nstr', 'transportation_hs']
list_nameFile = []
for i in os.listdir(main_dir):
    if i in list_path_data:
        path_dat = main_dir + i
        list_nameFile.append([pos for pos in os.listdir(path_dat) if pos.endswith('.dat')])

for sublist in range(len(list_nameFile)):
    df = pd.read_csv(main_dir + list_path_data[sublist] + '/' + list_nameFile[sublist][0])
    count = 0
    for nameSub in list_nameFile[sublist][1:]:
        df_tmp = pd.read_csv(main_dir + list_path_data[sublist] + '/' + nameSub)
        if 'trhs' in nameSub:
            count += 1
            df_hs = pd.concat([df, df_tmp], copy=False, ignore_index=True)
            if count == 31:
                print('finish second')
        else:
            count += 1
            df_nstr = pd.concat([df, df_tmp], copy=False, ignore_index=True)
            if count == 31:
                print('finish first')

finish first
finish second
CPU times: user 1min 5s, sys: 9.22 s, total: 1min 14s
Wall time: 1min 14s

# DataFrames

In [5]:
df_hs.head()

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,PRODUCT_HS,FLOW,TRANSPORT_MODE,PERIOD,VALUE_IN_EUROS,QUANTITY_IN_KG
0,1,FR,6,GB,010121,1,3,202008,1014,116
1,1,FR,6,GB,010121,1,4,202008,642924,900
2,1,FR,6,GB,010121,2,3,202008,1077514,6150
3,1,FR,6,GB,010121,2,4,202008,463702,1800
4,1,FR,6,GB,010129,2,3,202008,220890,2350

In [6]:
df_nstr.head()

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,PRODUCT_NSTR,FLOW,TRANSPORT_MODE,CONTAINER_MODE,TRANSPORT_MEANS_NAT,PERIOD,VALUE_IN_EUROS,QUANTITY_IN_KG
0,1,FR,21,XC,839,2,1,0,46,201901,10093991,35326489
1,1,FR,21,XC,893,2,3,0,4,201901,453,4
2,1,FR,21,XC,896,2,3,0,4,201901,444,6
3,1,FR,21,XC,939,1,1,1,1,201901,1348,68
4,1,FR,21,XC,939,2,3,0,1,201901,433,66