In [2]:
import os
import pandas as pd

In [3]:
!ls

Data.ipynb Readme.md  data       our_data

In [11]:
%%time
main_dir = 'our_data/'
list_path_data = ['preferences', 'products', 'transportation_nstr', 'transportation_hs']
list_nameFile = []
for i in os.listdir(main_dir):
    if i in list_path_data:
        path_dat = main_dir + i
        list_nameFile.append([pos for pos in os.listdir(path_dat) if pos.endswith('.dat')])

for sublist in range(len(list_nameFile)):
    df = pd.read_csv(main_dir + list_path_data[sublist] + '/' + list_nameFile[sublist][0])
    count = 0
    for nameSub in list_nameFile[sublist][1:]:
        df_tmp = pd.read_csv(main_dir + list_path_data[sublist] + '/' + nameSub)
        if 'prefs' in nameSub:
            count += 1
            df_pref = pd.concat([df, df_tmp], copy=False, ignore_index=True)
            if count == 2:
                print('finish first')
        elif 'full' in nameSub:
            count += 1
            df_prod = pd.concat([df, df_tmp], copy=False, ignore_index=True)
            if count == 31:
                print('finish second')
        elif 'trhs' in nameSub:
            count += 1
            df_hs = pd.concat([df, df_tmp], copy=False, ignore_index=True)
            if count == 31:
                print('finish fourth')
        else:
            count += 1
            df_nstr = pd.concat([df, df_tmp], copy=False, ignore_index=True)
            if count == 31:
                print('finish third')

finish first
finish second

<decorator-gen-54>:2: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.

finish fourth
finish third
CPU times: user 7min 31s, sys: 1min 58s, total: 9min 29s
Wall time: 9min 39s

# DataFrames

In [13]:
df_pref.head()

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,PRODUCT,STAT_REGIME,ELIGIBILITY,USE,PERIOD,VALUE_IN_EURO,QUANTITY_KG,SUP_QUANTITY
0,1,FR,21,XC,84813099,1,E3,U11,201901,1348,68,0.0
1,1,FR,21,XC,TOTAL,1,E3,U11,201901,1348,68,NaN
2,1,FR,24,IS,03044300,1,E3,U30,201901,88,6,0.0
3,1,FR,24,IS,03044410,1,E3,U30,201901,1574417,130725,0.0
4,1,FR,24,IS,03044430,1,E3,U30,201901,10258,1482,0.0

In [15]:
df_prod.head()

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,TRADE_TYPE,PRODUCT_NC,PRODUCT_SITC,PRODUCT_CPA2002,PRODUCT_CPA2008,PRODUCT_CPA2_1,PRODUCT_BEC,PRODUCT_BEC5,PRODUCT_SECTION,FLOW,STAT_REGIME,SUPP_UNIT,PERIOD,VALUE_IN_EUROS,QUANTITY_IN_KG,SUP_QUANTITY
0,1,FR,3,NL,I,01012100,00150,0122,0143,0143,111,712010,01,1,1,A,202052,77684,3765,333
1,1,FR,3,NL,I,01012100,00150,0122,0143,0143,111,712010,01,2,1,A,202052,376780,6000,12
2,1,FR,3,NL,I,01012910,00150,0122,0143,0143,111,111100,01,1,1,A,202052,26,10,1
3,1,FR,3,NL,I,01012990,00150,0122,0143,0143,111,111100,01,1,1,A,202052,305694,2500,5
4,1,FR,3,NL,I,01012990,00150,0122,0143,0143,111,111100,01,2,1,A,202052,464168,35760,72

In [17]:
df_hs.head()

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,PRODUCT_HS,FLOW,TRANSPORT_MODE,PERIOD,VALUE_IN_EUROS,QUANTITY_IN_KG
0,1,FR,6,GB,010121,1,3,202008,1014,116
1,1,FR,6,GB,010121,1,4,202008,642924,900
2,1,FR,6,GB,010121,2,3,202008,1077514,6150
3,1,FR,6,GB,010121,2,4,202008,463702,1800
4,1,FR,6,GB,010129,2,3,202008,220890,2350

In [19]:
df_nstr.head()

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,PRODUCT_NSTR,FLOW,TRANSPORT_MODE,CONTAINER_MODE,TRANSPORT_MEANS_NAT,PERIOD,VALUE_IN_EUROS,QUANTITY_IN_KG
0,1,FR,21,XC,839,2,1,0,46,201901,10093991,35326489
1,1,FR,21,XC,893,2,3,0,4,201901,453,4
2,1,FR,21,XC,896,2,3,0,4,201901,444,6
3,1,FR,21,XC,939,1,1,1,1,201901,1348,68
4,1,FR,21,XC,939,2,3,0,1,201901,433,66